body {
	text-align: center;
}
.box {
	display: grid;
	gap: 1px;
	justify-content: center;
	width: 80%;
	max-width: 80em;
	margin: 0 auto;
}
.box > div {
	border: .5px solid currentColor;
	transition: background-color .3s;
	aspect-ratio: 1/1;
}
.box > div.active {
	background-color: #000;
}
button {
	display: inline-block;
	margin: 2.4em 0;
	background-color: #000;
	color: #fff;
	border: none;
	padding: .6em 1.2em;
	border-radius: .4em;
}